body {
    font-family: "Kanit", sans-serif;
    background-color: #2b2a46;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
  }
  

.transparent-navbar {
    background-color: transparent !important;
    border: none !important;
}
/* Custom navbar padding and margin */
.custom-navbar {
    padding: 10px 10px;
    /* Adjust as needed */
    margin-bottom: 20px;
    /* Adjust as needed */
}

.custom-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Increase font size for the navbar-brand */
.custom-navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 300;

    /* Adjust as needed */
}

/* Increase font size for the bold text within the navbar-brand */
.custom-navbar .navbar-brand .bold-text {
    font-size: 2rem;
    /* Adjust as needed */
    font-weight: 600;
    font-style: italic;
    /* Ensure the text is bold */
}


/* Ensure the navbar text color remains visible against transparent background */
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    padding: 5px 10px;
    /* Adjust padding as needed */
}

.navbar-dark .navbar-brand {
    color: white !important;
}

/* Additional styles for navbar links */
.navbar-dark .nav-item {
    margin-left: 10px;
    /* Add margin between nav items */
}


.header-image {
    width: 100%;
    max-width: 1300px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aspect-ratio-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    padding-top: 85%; /* This creates a 4:3 aspect ratio (75% = 3/4 * 100) */
    overflow: hidden;
}

.aspect-ratio-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}


.product-card {
    background-color: #343a40;
    color: #f8f9fa;
}

.product-card:hover{
    background-color: #4b545e;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.185);
    color: #f8f9fa;
}

.product-card .card-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-card .card-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.dropdown-item:hover {
    background-color: #30d459 !important; /* Green color on hover */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.product-card .card-title {
    color: #f8f9fa;
}

.product-card .card-text {
    color: #e9ecef;
}

.product-card .product-link {
    color: #ffffff;
}

.product-card .product-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.container {
    flex: 1;
}

footer {
    background-color: transparent;
    padding: 30px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
}

.btn-primary {
    margin-top: 1px;
    margin-bottom: 10px;
    width: 200px; /* Adjust width as needed */
    min-width: 10px; /* Set a minimum width for consistency */
    background-color: transparent !important; /* Set button background to transparent */
    border: 1px solid white; /* Set white border */
    color: white; /* Text color */
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background on hover */
    border: 1px solid white; /* Set white border */
}

.btn-primary:focus {
    box-shadow: none; /* Remove the default blue shadow on focus */
}

.small-box-container {
    display: inline-block;
    padding-right: 12px; /* Adjust padding as needed */
    padding-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 80px; /* Fixed width for each small box */
    height: 90px; /* Fixed height for each small box */
    border-radius: 5px; /* Rounded corners */
}

.small-image-container {
    margin-top: 100px;
}

.small-box-container img {
    border: 2px solid #fff; /* White bold border */
    box-shadow: #95a2af;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container with the image */
    border-radius: 5px; /* Inherit rounded corners from parent */
}

.img-square {
    width: 100%; /* Ensure image fills container width */
    position: absolute; /* Position the image absolutely */
    top: 0;
    left: 0;
    object-fit: cover; /* Cover the container with image */
}


.card-text .product-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c4e6be;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-link:hover {
    background-color: #539919;
}

html,
body {
    height: 100%;
}

.category-list {
    padding: 0;
    list-style: none;
}

.category-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.category-link:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none;
    }

    .collapse.show {
        display: block !important;
    }

    .navbar-collapse {
        justify-content: center !important;
    }
}

@media (max-width: 575.98px) {
    .row-cols-sm-2 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}